 <div class="body">
  <h1>Shopping Cart</h1>
  <table class="cart_items">
    <% if @items %>
      <tr>
        <th>Item</th>
        <th>Price</th>
        <th>Quantity</th>
      </tr>
      <% @items.each do |item| %>
        <tr>
          <td><%= "#{item[:parent].object.item_data.name} #{item[:product].object.item_variation_data.name}" %></td>
          <td><%= number_to_currency(item[:product].object.item_variation_data.price_money&.amount.to_f / 100) %></td>
          <td><%= item[:quantity] %></td>
          <td><%= button_to 'Remove from cart', {:controller => 'cart_items', :action => 'remove', :id => item[:id]}, :method => :post %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
 </div>
