<div class="body">
  <h1>List of inventory:</h1>
  <table>
    <% @catalog_objects.each do |object| %>
      <% object.item_data&.variations&.each do |item| %>
        <tr>
          <td>
            <%= link_to "#{object.item_data&.name} #{item.item_variation_data&.name.to_s}",
                        item_path( {object_id: item.id}), :method => :post %>
          </td>
          <td>
            <%= "#{number_to_currency(item.item_variation_data.price_money.amount.to_f / 100)}" %>
          </td>
          <td>
            <%= button_to 'Add to cart', {:controller => 'cart_items', :action => 'create', :product_id => item.id, :quantity => 1}, :method => :post %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>

  <%= button_to 'Create an item', {:controller => 'item', :action => 'create'}, {:method => :post, :class => 'create'} %>
</div>
